/* styles/Profile/Profile.module.css */

.pageContainer {
  position: relative;
  background: #18171c;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.profileContainer {
  position: relative;
  padding: 20px;
  margin: auto;
  margin-top: 350px; /* Adjust based on header height */
  max-width: 800px;
  background: #18171c;
  border-radius: 10px;
  border: 1px solid #43434d;
  z-index: 2;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .profileContainer {
    margin-top: 300px; /* Adjust for smaller screens */
    padding: 15px;
  }
}
